---
import { Time } from '@astro-github-elements/time';
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-3xl md:text-4xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-primary-main via-primary-main to-primary-main dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Antonin "0x346e3730" CLAUZIER
      </span>
    </h1>
    <p class="text-2xl pb-4">Hacker<sup><a href="#hacker">1</a></sup>.</p>
  </div>
  <div>
    <p class="mb-5">
      This summarizes pretty much who I am. I've been working in the e-commerce industry since the start of my career <Time format="duration" tense={"past"} precision={"month"} datetime="2017-12-01T12:34:56.789Z" /> ago; with a detour in the online coaching domain for about a year.
    </p>
    <p class="mb-5">
      I specialize in back-end development even tho I am a swiss knife : I could say that I'm a developer, a devops, a sysadmin, a pentester, a community manager, an entrepreneur, a business owner... that's why I prefer the term Hacker<sup><a href="#hacker">1</a></sup>, it represents me better overall.
    </p>
    <p class="mb-5">
      I started freelancing <Time format="duration" tense={"past"} precision={"month"} datetime="2022-02-01T12:34:56.789Z" /> ago and that also motivated (and allowed) me to move from my hometown Grenoble, France to Saint-Pierre, Reunion Island <Time format="duration" tense={"past"} precision={"month"} datetime="2022-03-25T12:34:56.789Z" /> ago.
    </p>
  </div>
</section>
